USE [master]
GO
/****** Object:  Database [EHouseDB]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE DATABASE [EHouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EHouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EHouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EHouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EHouseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EHouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EHouseDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdId] [int] IDENTITY(1,1) NOT NULL,
	[UId] [int] NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CId] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[LastTimeModified] [nvarchar](max) NOT NULL,
	[PId] [int] NOT NULL,
	[UId] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ConId] [int] IDENTITY(1,1) NOT NULL,
	[ContractCreatedDay] [nvarchar](max) NOT NULL,
	[ContractContent] [nvarchar](max) NOT NULL,
	[ContractApproveDay] [nvarchar](max) NOT NULL,
	[HoId] [int] NOT NULL,
	[AdId] [int] NULL,
	[LeId] [int] NULL,
	[LesId] [int] NULL,
	[StatusAdminId] [bit] NULL,
	[StatusLessorId] [bit] NULL,
	[HouseRentName] [nvarchar](max) NOT NULL,
	[RentPrice] [real] NOT NULL,
	[TenancyPeriod] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ConId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Histories]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histories](
	[Hid] [int] IDENTITY(1,1) NOT NULL,
	[ModifiedDay] [datetime2](7) NOT NULL,
	[ConId] [int] NOT NULL,
	[PId] [int] NOT NULL,
	[UId] [int] NOT NULL,
 CONSTRAINT [PK_Histories] PRIMARY KEY CLUSTERED 
(
	[Hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseImages]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseImages](
	[HIId] [int] IDENTITY(1,1) NOT NULL,
	[HouseImageCode] [nvarchar](max) NOT NULL,
	[HoId] [int] NOT NULL,
 CONSTRAINT [PK_HouseImages] PRIMARY KEY CLUSTERED 
(
	[HIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseRents]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseRents](
	[HoId] [int] IDENTITY(1,1) NOT NULL,
	[HouseRentName] [nvarchar](max) NOT NULL,
	[Area] [real] NOT NULL,
	[AirConditioning] [bit] NOT NULL,
	[WaterHeater] [bit] NOT NULL,
	[Wifi] [bit] NOT NULL,
	[WashingMachine] [bit] NOT NULL,
	[Bed] [int] NOT NULL,
	[Parking] [bit] NOT NULL,
	[Refrigerator] [bit] NOT NULL,
	[Restroom] [int] NOT NULL,
	[Kitchen] [bit] NOT NULL,
	[ElectricityPrice] [real] NOT NULL,
	[WaterPrice] [real] NOT NULL,
	[RentPrice] [real] NOT NULL,
	[HouseStatus] [bit] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[LeId] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Latitude] [real] NOT NULL,
	[Longitude] [real] NOT NULL,
 CONSTRAINT [PK_HouseRents] PRIMARY KEY CLUSTERED 
(
	[HoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessees]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessees](
	[LesId] [int] IDENTITY(1,1) NOT NULL,
	[UId] [int] NOT NULL,
 CONSTRAINT [PK_Lessees] PRIMARY KEY CLUSTERED 
(
	[LesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessors]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessors](
	[LeId] [int] IDENTITY(1,1) NOT NULL,
	[UId] [int] NOT NULL,
 CONSTRAINT [PK_Lessors] PRIMARY KEY CLUSTERED 
(
	[LeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NoId] [int] IDENTITY(1,1) NOT NULL,
	[NoContent] [nvarchar](max) NOT NULL,
	[NoName] [nvarchar](max) NOT NULL,
	[PId] [int] NOT NULL,
	[UId] [int] NOT NULL,
	[CId] [int] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostImages]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostImages](
	[PIId] [int] IDENTITY(1,1) NOT NULL,
	[PostImageUrl] [nvarchar](max) NOT NULL,
	[PostImageName] [nvarchar](max) NULL,
	[PostImageContent] [nvarchar](max) NULL,
	[PId] [int] NOT NULL,
 CONSTRAINT [PK_PostImages] PRIMARY KEY CLUSTERED 
(
	[PIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PId] [int] IDENTITY(1,1) NOT NULL,
	[PostStatus] [bit] NOT NULL,
	[PostContent] [nvarchar](max) NOT NULL,
	[PostCreatedDay] [nvarchar](max) NOT NULL,
	[PostTitle] [nvarchar](max) NOT NULL,
	[UId] [int] NOT NULL,
	[AdId] [int] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RId] [int] NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Dateofbirth] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CitizenIdentification] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Gmail] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 8/10/2023 3:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[TId] [int] IDENTITY(1,1) NOT NULL,
	[Jwt] [nvarchar](max) NULL,
	[UId] [int] NOT NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[TId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Admins_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_UId] ON [dbo].[Admins]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PId] ON [dbo].[Comments]
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UId] ON [dbo].[Comments]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_AdId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_AdId] ON [dbo].[Contracts]
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_HoId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_HoId] ON [dbo].[Contracts]
(
	[HoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_LeId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_LeId] ON [dbo].[Contracts]
(
	[LeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contracts_LesId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_LesId] ON [dbo].[Contracts]
(
	[LesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Histories_ConId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Histories_ConId] ON [dbo].[Histories]
(
	[ConId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Histories_PId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Histories_PId] ON [dbo].[Histories]
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Histories_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Histories_UId] ON [dbo].[Histories]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HouseImages_HoId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HouseImages_HoId] ON [dbo].[HouseImages]
(
	[HoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HouseRents_LeId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HouseRents_LeId] ON [dbo].[HouseRents]
(
	[LeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessees_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessees_UId] ON [dbo].[Lessees]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessors_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessors_UId] ON [dbo].[Lessors]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_CId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_CId] ON [dbo].[Notifications]
(
	[CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_PId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_PId] ON [dbo].[Notifications]
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UId] ON [dbo].[Notifications]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostImages_PId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostImages_PId] ON [dbo].[PostImages]
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_AdId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_AdId] ON [dbo].[Posts]
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_UId] ON [dbo].[Posts]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RId] ON [dbo].[Users]
(
	[RId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTokens_UId]    Script Date: 8/10/2023 3:53:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTokens_UId] ON [dbo].[UserTokens]
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (N'') FOR [HouseRentName]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (CONVERT([real],(0))) FOR [RentPrice]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (N'') FOR [TenancyPeriod]
GO
ALTER TABLE [dbo].[HouseRents] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[HouseRents] ADD  DEFAULT (CONVERT([real],(0))) FOR [Latitude]
GO
ALTER TABLE [dbo].[HouseRents] ADD  DEFAULT (CONVERT([real],(0))) FOR [Longitude]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [CId]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Users_UId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts_PId] FOREIGN KEY([PId])
REFERENCES [dbo].[Posts] ([PId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts_PId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Admins_AdId] FOREIGN KEY([AdId])
REFERENCES [dbo].[Admins] ([AdId])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Admins_AdId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_HouseRents_HoId] FOREIGN KEY([HoId])
REFERENCES [dbo].[HouseRents] ([HoId])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_HouseRents_HoId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Lessees_LesId] FOREIGN KEY([LesId])
REFERENCES [dbo].[Lessees] ([LesId])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Lessees_LesId]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Lessors_LeId] FOREIGN KEY([LeId])
REFERENCES [dbo].[Lessors] ([LeId])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Lessors_LeId]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Contracts_ConId] FOREIGN KEY([ConId])
REFERENCES [dbo].[Contracts] ([ConId])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Contracts_ConId]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Posts_PId] FOREIGN KEY([PId])
REFERENCES [dbo].[Posts] ([PId])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Posts_PId]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Users_UId]
GO
ALTER TABLE [dbo].[HouseImages]  WITH CHECK ADD  CONSTRAINT [FK_HouseImages_HouseRents_HoId] FOREIGN KEY([HoId])
REFERENCES [dbo].[HouseRents] ([HoId])
GO
ALTER TABLE [dbo].[HouseImages] CHECK CONSTRAINT [FK_HouseImages_HouseRents_HoId]
GO
ALTER TABLE [dbo].[HouseRents]  WITH CHECK ADD  CONSTRAINT [FK_HouseRents_Lessors_LeId] FOREIGN KEY([LeId])
REFERENCES [dbo].[Lessors] ([LeId])
GO
ALTER TABLE [dbo].[HouseRents] CHECK CONSTRAINT [FK_HouseRents_Lessors_LeId]
GO
ALTER TABLE [dbo].[Lessees]  WITH CHECK ADD  CONSTRAINT [FK_Lessees_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Lessees] CHECK CONSTRAINT [FK_Lessees_Users_UId]
GO
ALTER TABLE [dbo].[Lessors]  WITH CHECK ADD  CONSTRAINT [FK_Lessors_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Lessors] CHECK CONSTRAINT [FK_Lessors_Users_UId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Comments_CId] FOREIGN KEY([CId])
REFERENCES [dbo].[Comments] ([CId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Comments_CId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Posts_PId] FOREIGN KEY([PId])
REFERENCES [dbo].[Posts] ([PId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Posts_PId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UId]
GO
ALTER TABLE [dbo].[PostImages]  WITH CHECK ADD  CONSTRAINT [FK_PostImages_Posts_PId] FOREIGN KEY([PId])
REFERENCES [dbo].[Posts] ([PId])
GO
ALTER TABLE [dbo].[PostImages] CHECK CONSTRAINT [FK_PostImages_Posts_PId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Admins_AdId] FOREIGN KEY([AdId])
REFERENCES [dbo].[Admins] ([AdId])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Admins_AdId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users_UId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RId] FOREIGN KEY([RId])
REFERENCES [dbo].[Roles] ([RId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UId] FOREIGN KEY([UId])
REFERENCES [dbo].[Users] ([UId])
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UId]
GO
USE [master]
GO
